<h3 class="h-3-spacing center white-text">Your Archived Students</h3>
<div class="row">
  <div class="col s6">
    <%= link_to teacher_students_path,
                class: "btn-floating waves-effect waves-light brand-bg-lt-grey" do %>
      <i class="material-icons">skip_previous</i>
    <% end %>
    <span class="button-text white-text">back to all students</span>
  </div>

</div>
<% current_user.students.each do | student | %>
  <% if student[:archived] == true %>
    <div class="row">
      <div class="col s12">
        <div class="card-panel hoverable">
          <%= link_to edit_teacher_student_path(student) do %>
            <i class="material-icons right brand-text-grey">edit</i>
          <% end %>
          <span class="">
            <blockquote class="">
              <h5 class="white-text"><%= student.name %></h5>
              <p class="brand-text-grey"> Parents Name: <span class="thin"><%= student.parent.name %></span></p>
            </blockquote>
            <%= link_to teacher_student_homeworks_path(student) do %>
              view student
              <i class="material-icons right">send</i>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
