<h3 class="center h-3-spacing white-text">
  Congrats, more business!<br>
  <span class="title-comment thin">(and your parents said music was a dumb choice!)</span>
</h3>

<% if @child.errors.any? %>
  <div class="row">
    <div class="col s12">
      <div class="card-panel hoverable thick">
        <div class="white-text">
          <h5>Some issues with your entry, please fix them:</h5>
          <ol>
            <% @child.errors.full_messages.each do |error| %>
              <li class="errors-list"><%= error %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col s12 white-text card-bottom">
    <%= form_for @child, url: teacher_students_path(@child), class: "card-padding" do |f| %>
      <div class="card-panel hoverable">
        <h5 class="center">Add a student</h5>
        <div>
          <%= f.label "Student Name:" %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label "Username:" %>
          <%= f.text_field :username %>
        </div>
        <div>
          <%= f.label "Password:" %>
          <%= f.password_field :password %>
        </div>
        <div>
          <%= f.label "Parent:" %>
          <%= f.collection_select :parent, User.where(role: 'P'), :id, :name,
            include_blank: true, selected: @selected_parent %>
        </div>
      </div>
      <%= f.fields_for :parent do |parent_form| %>
        <div id="teacher-new-student-parent-form" class="card-panel hoverable">
          <h5 class="center">Add their parent</h5>
          <div>
            <%= parent_form.label "Parent Name:" %>
            <%= parent_form.text_field :name %>
          </div>
          <div>
            <%= parent_form.label "Username:" %>
            <%= parent_form.text_field :username %>
          </div>
          <div>
            <%= parent_form.label "Password:" %>
            <%= parent_form.password_field :password %>
          </div>
        </div>
      <% end %>
      <div class="center button-spacing">
        <%= button_tag class: "btn waves-effect waves-light green" do %>
          Submit
          <i class="material-icons right">send</i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
</script>
