<h3 class="white-text h-3-spacing center">The Best Decison You'll Ever Make</h3>

<% if @teacher.errors.any? %>
  <div class="row">
    <div class="col s12">
      <div class="card-panel hoverable thick home-card">
        <div class="white-text">
          <h5>Some issues with your entry, please fix them:</h5>
          <ol>
            <% @teacher.errors.full_messages.each do |error| %>
              <li class="errors-list"><%= error %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col s12 white-text card-bottom">
    <div class="card-panel hoverable">
      <h5 class="center">Create an account</h5>
      <%= form_for @teacher, html: { class: "card-padding" } do |f| %>
        <div>
          <%= f.label "Full Name:" %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label "Username:" %>
          <%= f.text_field :username %>
        </div>
        <div>
          <%= f.label "Email:" %>
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.label "Password:" %>
          <%= f.password_field :password %>
        </div>
        <div>
          <%= f.label "Rate ($) per Lesson:" %>
          <%= f.number_field :rate %>
        </div>
        <div>
          <%= f.label "Plan:" %>
          <%= f.select :plan, options_for_select([["Basic (1-5 Students): $5/mo", "basic"], ["Standard (6-10 Students): $10/mo", "standard"], ["Premium (11+ Students): $15/mo", "premium"]], "basic") %>
        </div>
        <div class="center button-spacing">
          <%= button_tag "Submit", class: "btn waves-effect waves-light green" do %>
            Submit
            <i class="material-icons right">send</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
