<h4 class="center h-3-spacing white-text"><span class="thin"><%= homework.created_at.strftime("%B %dth, %Y") %>:</span><br> <%= homework.title %></h4>
<% if teacher? %>
  <div class="row">
    <div class="col s10">
      <%= link_to teacher_student_homeworks_path(homework.user),
                  class: "btn-floating waves-effect waves-light brand-bg-lt-grey" do %>
        <i class="material-icons">skip_previous</i>
      <% end %>
      <span class="button-text white-text">back to <%= homework.user.name %>'s work</span>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col s12">
    <div class="card-panel hoverable white-text thin">
      <% if current_user.role == "T" %>
        <div class="right">
          <a class="btn-floating btn-Small waves-effect waves-light brand-bg-grey"
             onclick="editHomeworkNote(<%= homework.user.id %>,<%= homework.id %>)">
             <i class="Tiny material-icons">edit</i>
          </a>
        </div>
      <% end %>
      <h5 class="button-spacing"><strong>Notes from lesson</strong></h5>
      <p><%= homework.note %></p>
      <h5 class="button-spacing"><strong>Tasks for this week:</strong></h5>
      <div class="button-spacing thin">
        <ul class="collapsible brand-bg-grey" data-collapsible="accordion">
          <% homework.tasks.each do |task| %>
            <li>
              <div  class="collapsible-header brand-bg-grey white-text">
                <% if current_user.role == 'S' %>
                  <div class="right">
                    <input class="toggle-task-status filled-in"
                           type="checkbox"
                           name="<%= task.id %>"
                           id="<%= task.id %>"
                           <%= if task.complete then "checked" end %> >
                             <label class="check-box" for="<%= task.id %>"></label>
                  </div>
                <% elsif task.complete %>
                  <i class="material-icons right done-icon">done_all</i>
                <% end %>
                <blockquote>
                  <p>
                    <strong><%= task.item %></strong> <br>
                    <% if task.url and task.url != "" %>
                      <%= youtubify(task.url) %>
                    <% elsif task.attachment.exists? %>
                      <%= youtubify(task.attachment.url) %>
                    <% end %>
                  </p>
                  <div class="row">
                    <a class="modal-trigger right btn-flat"
                    onClick="setTaskID(<%= task.id %>)" href="#modal1" id="modalButton">
                    <% if task.comments.length < 1 %>
                      add first comment
                    <% else  %>
                      leave a comment
                    <% end %>

                    </a>
                  </div>
                </blockquote>
              </div>
              <div class="collapsible-body">
                <% task.comments.each do |comment| %>
                  <div class="comment-padding hoverable">
                    <blockquote class="comment-block">
                    <p><%= comment.feedback %></p>
                    <% if comment.url and comment.url != "" %>
                      <p><%= youtubify(comment.url) %></p>
                    <% elsif comment.attachment.exists? %>
                      <p><%= youtubify(comment.attachment.url) %></p>
                    <% end %>
                    <p class="comment-name">
                      ---<%= comment.user.name %>
                    </p>
                    </blockquote>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content brand-bg-grey">
    <div class="row button-spacing white-text">
      <%= form_for @comment, html: { class: "col s12" } do |f| %>
        <h5>Add a comment</h5>
        <%= f.hidden_field :homework_id, value: @homework.id %>
        <%= f.hidden_field :task_id %>
        <ul class="collection">
          <li class="row button-spacing">
            <div class="input-field col s12">
              <%= f.label "Feedback", class: "active" %>
              <%= f.text_field :feedback, placeholder: "Leave a comment" %>
            </div>
            <div class="input-field col m6 s12">
              <%= f.label "Link", class: "active" %>
              <%= f.text_field :url, placeholder: "attach a link" %>
            </div>
            <div class="file-field input-field col m6 s12">
              <div class="btn brand-bg-lt-grey btn-square">
                <span>File</span>
                <%= f.file_field :attachment, class: "validate",
                  onChange: "toggleTaskURLFieldDisabledStatus($(this))" %>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
              </div>
            </div>
            <div class="center">
              <%= button_tag  class: "btn waves-effect waves-light button-spacing green" do %>
                Submit
                <i class="material-icons right">send</i>
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<script>
$(".toggle-task-status").on('click', function() {
  $.ajax({
    url: "<%= url_for controller: '/tasks', action: 'update' %>",
    method: "PUT",
    data: {
      homework_id: "<%= homework.id %>",
      task_id: $(this).attr("name"),
      done: this.checked ? true : false
    }
  });
});

$(document).ready( function(){

   $('.collapsible').collapsible({
     accordion: false
   });

   $('#modalButton').on('click', function(ev){
     ev.stopPropagation()
   })

});

function setTaskID(id) {
  $("#modal1").find("input[name='comment[task_id]']").eq(0).val(id);
}

function editHomeworkNote(student, homework) {
    window.location = "/teacher/students/" + student + "/homeworks/" + homework + "/edit"
    console.log("editing " + homework + " of " + student);
}

function addTask(student, homework) {
  //    console.log("redirecting to : /teacher/students/" + student + "/homework/new?homework=" + homework)
  window.location = "/teacher/students/" + student + "/homework/new?homework=" + homework;
}
</script>
