<div class="row">
  <%= form_for lesson, html: {class: "col s12"} do |f| %>
    <% if lesson.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

        <ul>
        <% lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field">
      <%= f.label :title, class:"active" %>
      <%= f.text_field :title %>
    </div>

    <div class="input-field">
      <%= f.label :description, class:"active" %>
      <%= f.text_area :description, class:"materialize-textarea" %>
    </div>

    <div class="input-field">
      <%= f.label :lesson_date %>
      <%= f.date_select :lesson_date, class:"datepicker" %>
    </div>

    <div class="input-field">
      <%= f.label :start_time %>
      <%= f.time_select :start_time %>
    </div>

    <div class="input-field">
      <%= f.label :end_time %>
      <%= f.time_select :end_time %>
    </div>

    <div class="input-field">
      <%= f.label :recurring %>
      <%= f.check_box :recurring, class:"filled-in" %> <br />
    </div>



    <div id="reccuringAttributes">
      <div class="input-field">
        <%= f.label :how_often, class:"active" %>
        <%= f.select :how_often, ['weekly', 'bi-weekly', 'monthly']%>
      </div>

      <div class="input-field">
        <%= f.label :how_many, class:"active" %>
        <%= number_field(:lesson, :how_many, in: 1..99, step: 1) %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });

    $(document).ready(function() {
      $('select').material_select();
    });

  });
</script>
