<h3 class="center h-3-spacings white-text">
  <%= @child.name %><span class="thin">'s homework assignments:</span>
</h3>
<ul>
  <% @child.homeworks.each do |homework| %>
    <div class="row">
      <div class="col s10 offset-s1 white-text">
        <div class="card-panel hoverable">
          <% unless homework.tasks.where("complete = ? OR complete IS NULL", false).any? == true %>
            <i class="small material-icons right icon-gold">stars</i>
          <% end %>
          <span class="">
            <blockquote class="">
              <h5 class="thin"><%= homework.title %></h5>
              <p class="thin">
              <%= homework.note %>
              </p>
              <p class="thin">
              <span class="amber-text thick">
                <%= homework.tasks.where("complete = ? OR complete IS NULL", false).count %>
              </span>
              tasks outstanding
              </p>
            </blockquote>
            <div class="card-action">

              <%= link_to parent_child_homework_path(@child, homework), class: "thin" do %>
                View Homework
                <i class="material-icons right">send</i>
              <% end %>
            </div>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</ul>
