<a href="/teacher/students/<%= homework.user.id %>">Go back </a>
<h3><%= homework.title %></h3>
<h5 class="button-spacing"><strong>Notes from lesson</strong></h5>
<p><%= homework.note %></p>
<h5 class="button-spacing"><strong>Tasks for the homework</strong></h5>
<div class="button-spacing">
  <ul class="collection">
    <% homework.tasks.each do |task| %>
      <li class="collection-item">
        <% if current_user.role == 'S' %>
          <input class="toggle-task-status"
                 type="checkbox"
                 name="<%= task.id %>"
                 id="<%= task.id %>"
                 <%= if task.complete then "checked" end %> >
          <label for="<%= task.id %>"></label>
        <% elsif task.complete %>
           <i class="material-icons right done-icon">done_all</i>
        <% end %>
        <p class="">
          <%= task.item %> <br>
          <a class="" href="<%= task.url %>"><%= youtubify %></a>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<% homework.comments.each do |comment| %>
  <h3><%= comment.user.name %> says:</h3>
  <p><%= comment.feedback %></p>
  <% if comment.url and comment.url != "" %>
    <a href="<%= comment.url %>">check this out</a>
  <% end %>
<% end %>

<script>
  $(".toggle-task-status").on(
    'click',
    function() {
//      console.log("status is: "+ this.checked)
      task_update = {
        homework: "<%= homework.id %>",
        task: $(this).attr("name"),
        done: this.checked ? true : false
      };
      $.post('/student/homework/task_update', task_update);
    }
  );
</script>
