<!DOCTYPE html>
<html>
  <head>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Muse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="back-ground">
    <div class="navbar-fixed">
      <nav class="brand-bg-grey">
        <div class="container">
          <div class="nav-wrapper">
            <div class="box">
              <a href="/" class="brand-logo">
                <svg width="211" height="45" viewBox="208 210 211 80" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#FFF" fill-rule="evenodd">
                    <text font-family="HarmoniaSansProCyr-Black, Harmonia Sans Pro Cyr" font-size="64" font-weight="700" transform="translate(208 223)">
                      <tspan x=".428" y="63">MUSE</tspan>
                    </text>
                    <path d="M418.352 223.282c-.324-.25-.738-.343-1.128-.242l-17.62 4.453c-.162.04-.262.163-.396.257-.08.06-.175.086-.244.162-.214.237-.355.53-.355.868v40.609h-7.49c-5.58 0-10.12 4.585-10.12 10.226 0 5.64 4.54 10.23 10.12 10.23 5.58 0 10.11-4.59 10.11-10.23v-36.444l16.63-4.197c.58-.15.99-.678.99-1.284v-13.356c.002-.414-.178-.798-.498-1.052z"/>
                    <path d="M391.12 287.193c-4.13 0-7.497-3.403-7.497-7.58s3.366-7.575 7.498-7.575h7.488v7.575c.003 4.177-3.358 7.58-7.488 7.58zM416.23 236.65l-14.996 3.783V229.81l14.995-3.783"/>
                  </g>
                </svg>
              </a>
            </div>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <% if not_logged_in %>
                <li>
                  <%= link_to "Login", new_session_path, class: "blue darken-2 btn" %>
                </li>
              <% else %>
                <% if teacher? %>
                  <li><a href="/teacher/students">STUDENTS</a></li>
                  <li><a href="/teacher/students/new">ADD STUDENT</a></li>
                  <li><a href="/teacher/lessons">CALENDAR</a></li>
                <% elsif student? %>
                  <li>
                    <%= link_to "HOMEWORK", student_homeworks_path %>
                  </li>
                  <li><a href="/student/lessons">CALENDAR</a></li>
                <% else %>
                  <li>
                    <%= link_to "CHILDREN", parent_children_path %>
                  </li>
                  <li>
                    <%= link_to "CALENDAR", parent_lessons_path %>
                  </li>
                <% end %>

                <li>
                  <%= link_to "LOGOUT",
                              session_path,
                              method: :delete, rel: "nofollow" %>
                </li>
                <% if current_user.role == "T" %>
                  <li class="nav-username"><%= link_to current_user.name, edit_user_path(current_user.id) %></li>
                <% else %>
                  <li class="nav-username"><%= current_user.name %></li>
                <% end %>
              <% end %>
            </ul>
            <ul class="side-nav" id="mobile-menu">
              <% if not_logged_in %>
                <li><%= link_to "Login", new_session_path %></li>
              <% else %>
                <% if teacher? %>
                  <li><a href="/teacher/students">STUDENTS</a></li>
                  <li><a href="/teacher/students/new">ADD STUDENT</a></li>
                  <li><a href="/teacher/lessons">CALENDAR</a></li>
                  <li class="blue darken-2">
                    <%= link_to "LOGOUT",
                                session_path,
                                method: :delete, rel: "nofollow" %>
                  </li>
                  <li class="nav-username"><%= current_user.name %></li>
                <% else %>
                  <li><a href="/student">HOMEWORK</a></li>
                  <li><a href="/student/lessons">CALENDAR</a></li>
                  <li class="blue darken-2">
                    <%= link_to "LOGOUT",
                                session_path,
                                method: :delete, rel: "nofollow" %>
                  </li>
                  <li class="nav-username"><%= current_user.name %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    </main>
    <footer class="page-footer brand-bg-grey">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Why this site!</h5>
            <p class="grey-text text-lighten-3">
              This is a great tool for you to learn to KILL it on your instrument
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <% if not_logged_in %>
              <%= link_to "Login", new_session_path, class: "grey-text text-lighten-3" %>
            <% else %>
              <% if current_user.role == 'T' %>
                <% if current_user.oauth? %>
                  <a href="<%= stripe_deauthorize_path %>">Disconnect Stripe</a>
                <% else %>
                  <a href="<%= stripe_oauth_path %>">Connect Stripe</a>
                <% end %>
              <% elsif current_user.role == 'P' %>
                <%= render '/shared/cardform' %>
              <% else %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="footer-copyright brand-bg-dark">
        <div class="container">
          © 2016 Muse Corp
        </div>
      </div>
    </footer>
    <script>$(document).ready(function(){$('.modal-trigger').leanModal()});</script>
  </body>
</html>
